<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TLC</title>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
     <a href="#" class="brand-logo center">Tenant Landlord Communications</a>
     <ul id="nav-mobile" class="right hide-on-med-and-down">
       <a routerLink=""><li>Sign Out</li></a>
     </ul>
   </div>
    </nav>
    <main>
      <section class="container col s12 m6">
        <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header">
        <i class="material-icons">Property</i>

        <span class="new badge">4</span></div>
      <div class="collapsible-body white"><p>Lorem ipsum dolor sit amet.</p></div>
    </li>
    <li>
      <div class="collapsible-header">
        <i class="material-icons">Documents</i>
        <span class="badge">1</span></div>
      <div class="collapsible-body white"><p>Lorem ipsum dolor sit amet.</p></div>
    </li>
    <li>
      <div class="collapsible-header">
        <i class="material-icons">Tenants</i>
        <span class="badge">1</span></div>
      <div class="collapsible-body white"><p>Lorem ipsum dolor sit amet.</p>
      <a class="waves-effect waves-light btn">button</a>
      </div>
    </li>
  </ul>
      </section>


    </main>
    <footer class="page-footer">
      <div class="footer-copyright">
        <div class="container">
          <pre><p>TLC © 2017 Copyright by Logan Crewss</p></pre>
        </div>
      </div>
    </footer>
  </body>
</html>
