<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TLC</title>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
         <a href="#" class="brand-logo left">Tenant Landlord Communications</a>
         <ul id="nav-mobile" class="signout right hide-on-med-and-down">
           <a routerLink=""><li>Sign Out</li></a>
         </ul>
      </div>
    </nav>
    <main>
      <section class class="col m6 s12 card center-align">
        <ul id="tabs-swipe" class="tabs container col s12 m4">
          <li class="tab col s3"><a class="active"href="#properties">Properties</a></li>
          <li class="tab col s3"><a  href="#documents">Documents</a></li>
          <li class="tab col s3"><a  href="#tenants">Tenants</a></li>
        </ul>
        <div id="properties" class="container center">
          <a routerLink ='/property' class="btn-floating btn-small waves-effect waves-light black left"><i class="material-icons">add</i></a><br>
          <div class="row">
            <table class="striped">
              <thead>
                <tr>
                    <th>Address</th>
                    <th>Zip Code</th>
                    <th>Documents</th>
                    <th>Rent Amount</th>
                </tr>
              </thead>
                <tr *ngFor="let property of properties">
                  <td>{{property.address}}</td>
                  <td>{{property.zipcode}}</td>
                  <td><i class="material-icons">folder</i></td>
                  <td>${{property.rent}}</td>
                  <td (click) = "deleteProperty(product.id)">DELETE</td>
                  <!-- <td><i onclick="Materialize.toast('Property Deleted', 4000)" class="hoverable material-icons">delete_forever</i></td> -->
                </tr>
              <tbody>
            </table>
          </div>
        </div>
        <div id="tenants" class="container center">
          <div class="row">
            <a routerLink = '/tenant' class="btn-floating btn-small waves-effect waves-light black left"><i class="material-icons">add</i> Tenants</a>
            <table class="striped">
              <thead>
                <tr>
                    <th>Name</th>
                    <th>Phone Number</th>
                    <th>Email</th>
                    <th>Property</th>
                    <th>Zip Code</th>
                    <th>Documents</th>
                    <th>Rent Amount</th>
                </tr>
              </thead>
                <tr *ngFor="let tenant of tenants">
                  <td>{{tenant.name}}</td>
                  <td>{{tenant.number}}</td>
                  <td>{{tenant.email}}</td>
                  <td>{{tenant.address}}</td>
                  <td>{{tenant.zipcode}}</td>
                  <td><i class="material-icons">folder</i></td>
                  <td>${{tenant.rentdue}}</td>
                  <td>
                    <div class="switch">
                      <label>
                        Unpaid
                        <input type="checkbox">
                        <span class="lever red"></span>
                        Paid
                      </label>
                    </div>
                  </td>
                  <td></td>
                  <td><i class="material-icons">delete_forever</i></td>
                </tr>
            </table>
          </div>
        </div>
      </section>
    </main>
    <footer class="page-footer">
      <div class="footer-copyright">
        <div class="container">
          <pre><p>TLC © 2017 Copyright by Logan Crewss</p></pre>
        </div>
      </div>
    </footer>
  </body>
</html>
