<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TLC</title>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
     <a href="#" class="brand-logo center">Tenant Landlord Communications</a>
     <ul id="nav-mobile" class="right hide-on-med-and-down">
       <a routerLink=""><li>Sign Out</li></a>
     </ul>
   </div>
    </nav>
    <main>

      <section class class="col m6 s12 card center-align signInForm">
        <ul id="tabs-swipe-demo" class="tabs container col s12 m4">
          <li class="tab col s3"><a class="active"href="#SignIn">Properties</a></li>
          <li class="tab col s3"><a  href="#SignUp">Documents</a></li>
          <li class="tab col s3"><a  href="#SignUp">Tenants</a></li>
        </ul>
        <div id="SignIn" class="container center signIN">
          <div class="row">
            <form class="col s12 m12">
              <div class="properties" *ngFor="let property of properties">
                <div class="container">
                  <p>{{property.address}}</p>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- <div id="SignUp" class="container signUp">
          <h2>Sign Up</h2>
          <form class="form signup">
            <div class="row">
              <span class="col s3"></span>

            <div class="row">
              <div class="input-field col s12">
                <a routerLink="/main"><input class="btn signupBtn" type="submit" name="submit" value="signup"></a> </div>
            </div>
          </form>
        </div> -->
      </section>
      <!-- <section class="container col s12 m6">
        <ul class="collapsible tableUl" data-collapsible="accordion">
    <li class="tableLi">
      <div class="collapsible-header">
        <i class="material-icons">Property</i>
        <!-- <span class="new badge">4</span> -->
      <!-- </div>
      <div class="collapsible-body white" *ngFor="let property of properties"><p>{{property.address}}</p></div>
    </li>
    <li class="tableLi">
      <div class="collapsible-header">
        <i class="material-icons">Documents</i>
        <!-- <span class="badge">1</span> -->
      <!-- </div>
      <div class="collapsible-body white"><p>Lorem ipsum dolor sit amet.</p>
        <label for="file-upload" class="custom-file-upload"></label>
        <button type='submit'> Upload </button>
        <input id="file-upload" type="file"/>
      </div>
    </li>
    <li class="tableLi">
      <div class="collapsible-header">
        <i class="material-icons">Tenants</i> -->
        <!-- <span class="badge">1</span> -->
      <!-- </div>
      <div class="collapsible-body white" *ngFor="let tenant of tenants"><p>{{tenant.name}}</p> -->
        <!-- <a class="waves-effect waves-light btn">button</a> -->
      <!-- </div>
    </li>
  </ul>
      </section> -->


    </main>
    <footer class="page-footer">
      <div class="footer-copyright">
        <div class="container">
          <pre><p>TLC © 2017 Copyright by Logan Crewss</p></pre>
        </div>
      </div>
    </footer>
  </body>
</html>
