html {
    background: url("../../images/mainBackgroundImg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
  }

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  nav {
    color: #FFFFFF;
    background-color: #191919;
    text-align: center;
  }
  nav ul {
    padding: 0;
    margin: 0;
  }

  ul {
    list-style-type: none;
    margin: 50px;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    display: flex;
    justify-content: center;

  }

  .tableLi {
      float: left;
      padding: 10px;
      margin-left: 10px;
  }

  .tableLi a {
      display: block;
      color: white;
      text-align: center;
      padding: 20px;
      text-decoration: none;
  }
  .tableLi div i {
    width: 100%;
  }

  .tableLi a:hover {
      background-color: #111111;
  }
  footer {
    color: #FFFFFF;
    background-color: #191919;
    text-align: center;
  }
