html {
  background: url("../../images/HomeBackgroundImg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
}

nav {
  color: #FFFFFF;
  background-color: #191919;
  text-align: center;
}
.tabs{
  display: flex;
  justify-content: center;
  margin-top: 20vh;
}

main.container {
  padding-bottom: 20em;
  opacity: .9
}

.signInForm {
  padding-bottom: 1em;
  /*opacity: 0.6;*/
}

footer {
  color: #FFFFFF;
  background-color: #191919;
  text-align: center;
  height: 100px;
}
