<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TLC</title>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
         <a href="#" class="brand-logo left">Tenant Landlord Communications</a>
         <ul id="nav-mobile" class="right hide-on-med-and-down">
           <a routerLink="/main"><li>Home</li></a>
           <a routerLink=""><li>Sign Out</li></a>
         </ul>
      </div>
    </nav>
    <main>
      <img src="../../images/document.jpg" alt="" style="width: 50px; height: 50px">
    </main>
    <footer></footer>
  </body>
</html>
