html {
    background: url("../../images/mainBackgroundImg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
  }

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  nav {
    color: #FFFFFF;
    background-color: #191919;
    text-align: left;
    border-bottom: solid white;
  }

  nav ul {
    padding: 0;
    margin: 0;
    display: flex;
  }

  ul {
    list-style-type: none;
    margin: 50px;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;

  }

.formBox {
  margin-top: 80px;
  margin-left: 100px;
  opacity: 0.6;

}

#form {
    display: inline-block;
    text-align: center;
    margin-left: 230px;
}

.propertySelector {
  display: inline !important;
  color: black;
  border: solid black;
  margin-bottom: 10px;
}

.zipSelector {
  display: inline !important;
  color: black;
  border: solid black;
  margin-bottom: 10px;
}


label {
  color: black;
  font-weight: bold;
}

#submit {
  color: black;
  font-weight: bold;
  border: solid black;
  margin-bottom: 3px;
}

#rent {
  border: solid black;
}
