<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TLC</title>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
         <a href="#" class="brand-logo left">Tenant Landlord Communications</a>
         <ul id="nav-mobile" class="right hide-on-med-and-down">
           <a routerLink="/main"><li>Home</li></a>
           <a routerLink=""><li>Sign Out</li></a>
         </ul>
      </div>
    </nav>
    <main class="container">
      <div class="col s12 m4 row  center white formBox">
        <form id="form" class="col s12 m4 center" #tenantData = 'ngForm' (ngSubmit) = 'addNewTenant(tenantData.value)'>
          <div class="row form">
            <div class="input-field col s12">
              <input id="name" type="text" class="validate" [(ngModel)]="tenant.name" name="name">
              <label for="name">Name</label>
            </div>
          </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="number" type="text" data-length="10" class="validate" [(ngModel)]="tenant.number" name="number">
                <label for="number">Phone Number</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="email" type="text" class="validate" [(ngModel)]="tenant.email" name="email">
                <label for="email">Email</label>
              </div>
            </div>
            <div class="input-field col s12" *ngFor="let property of properties">
              <select>
                <option value="" disabled selected>Choose your option</option>
                <option value="1">{{property.address}}</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
              </select>
              <label>Materialize Select</label>
            </div>
          <input id="submit" type="submit" name="submit" value="Add Tenant">
        </form>
      </div>
    </main>
    <footer></footer>
  </body>
</html>
